page-about {
    ion-content{
        background:#F3F3F3 !important;
    }
    .imgDiv{
        background: #FFF;
    }
    .imgDiv img{
        width: 100%;
        height: 200px;
        margin: auto;
    }
    .thumbup{
        color:#ea3434;
    }
}
